@model IEnumerable<Real_State.Models.Rent>

@{
    ViewBag.Title = "Index";
}

<div class="d-flex justify-content-between">
    <div>
        <h2>Property</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
    <div class ="mt-2 mb-1">

        @using (Html.BeginForm("Index", "Rent"))
        {
                <div class="form-inline mb-2">
                    @Html.DropDownList("PropDropDown", ViewBag.Property as SelectList, "Select City", htmlAttributes: new { @class = "form-control" })
                    <input type="submit" value="Search" class="btn btn-secondary">
                </div>
        }
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

<table class="table">
    <tr class="text-light bg-primary">
        <th>
            @Html.DisplayNameFor(model => model.Branch.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ptype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rent1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ptype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rent1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PropertyNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.PropertyNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PropertyNo })
        </td>
    </tr>
}

</table>
